
#line
{
font-size:20px;
font:bold;
text-align:center;
margin-top:10px;
height:35px;
width:100%;
margin-bottom:10px;
background-color:#008866;
color:#fff;
}
#menu
{
height:40px;
width:100%;
background-color:#008866;
}
#frame
{
height:520px;
width:1050px;
margin-left:auto;
margin-right:auto;
margin-top:5px;
padding:5px;
background-color:#c5c5a9;
}
#footer
{
margin-top:5px;
height:40px;
width:100%;
background-color:#008866;
}
#bodymain
{
height:auto;
width:100%;
background-color:WHITE;
margin-top:30px;
}
#slider
{
border:1px solid black;
margin-top:5px;
margin-right:5px;
background-color:#d7ffd7;
height:505px;
width:750px;
float:right;
overflow:scroll;
}
#submenu
{
border:1px solid black;
margin-right:5px;
margin-left:5px;
margin-top:5px;
background-color:#d7ffd7;
height:505px;
width:280px;
float:left;
}