#line
{
margin-top:5px;
height:25px;
background-color:#008866;
width:333px;
margin-left:5px;
margin-right:5px;
}
#frame
{
height:520px;
width:1050px;
margin-left:auto;
margin-right:auto;
margin-top:5px;
padding:5px;
background-color:#c5c5a9;
}
#bodymain
{
height:auto;
width:100%;
background-color:WHITE;
margin-top:30px;
}
#footer
{
margin-top:5px;
clear:both;
height:40px;
width:100%;
background-color:#008866;
}
#slider
{
margin-top:5px;
margin-left:5px;
background-color:;
height:284px;
width:691px;
float:left;
}
#login
{
margin-right:5px;
margin-left:5px;
margin-top:5px;
background-color:#d7ffd7;
height:284px;
width:344px;
float:right;
}
#body1
{
float:left;
margin-top:5px;
margin-bottom:5px;
margin-left:7px;
height:222px;
width:343px;
background-color:#d7ffd7;
}
#body2
{
float:left;
margin-top:5px;
margin-bottom:5px;
margin-left:4px;
height:222px;
width:343px;
background-color:#d7ffd7;
}
#body3
{
float:right;
margin-top:5px;
margin-bottom:5px;
margin-left:5px;
margin-right:5px;
height:222px;
width:343px;
background-color:#d7ffd7;
}
